/*  -------------------------------  HEADER: FONTS -------------------------------  */
.axiforma16{
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}
/*  ------------------------------- SECTION 1: FONTS -------------------------------  */
.section1 .section1-wrapper h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.section1 .section1-wrapper p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #282B2D;
}
/*  ------------------------------- SECTION 2: FONTS -------------------------------  */
.section2 .section2-wrapper .left h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    width: 664px;
    color: #282B2D;
}
.section2 .section2-wrapper .left p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width:528px;
    color: rgba(40, 43, 45, 0.7);
}
/*  ------------------------------- SECTION 4: FONTS -------------------------------  */
.section4 .section4-wrapper .child h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}
.section4 .section4-wrapper .child1 .shop-now{
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #282B2D;
}