/* -------------------  SECTION 1 STYLES START: ------------------- */
.section1 .section1-wrapper{
    background-image: url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 8px;
}
/* -------------------  SECTION 2 STYLES START: ------------------- */
.section2{
    margin-top: 80px;
    width: 100%;
}
.section2 .section2-wrapper{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.section2 .section2-wrapper .left{
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    gap: 64px;
    width: 100%;
}
.section2 .section2-wrapper .left .text-div{
    display: grid;
    grid-auto-flow: row;
    gap: 24px;
    align-items: center;
}
.section2 .section2-wrapper .left .buttons-flex{
    display: flex;
    align-items: space-between;
    align-items: center;
    gap: 24px;
}
.section2 .section2-wrapper .left .buttons-flex .whiteBtn{
    padding: 16px 48px;
    cursor: pointer;
    background: #E5E5E5;
    border-radius: 2px;
    border: 1px solid #061B27;
    transition: all 0.5ms linear 0s;
}
.section2 .section2-wrapper .left .buttons-flex .whiteBtn:hover{
    background: #282B2D;
    color: #FFFFFF;
}
.section2 .section2-wrapper .right{
    background-image: url(../images/bg-img1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh;
    width: 40vw;
    z-index: 23;
}
/*  -------------------  SECTION 3 STYLES START: ------------------- */
.section3{
    margin-top: 120px;
    display: grid;
    justify-items: center;
}
.section3 .section3-wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: row;
    grid-gap: 64px;
    background: rgba(40, 43, 45, 0.02);
    border-radius: 3.65909px;
}
.section3 .section3-wrapper .top-grid{
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}
.section3 .section3-wrapper .bottom-grid{
    display: grid;
    width: 100%;
    margin-left: 136px;
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}
/*  -------------------  SECTION 4 STYLES START: ------------------- */
.section4{
    margin-top: 120px;
    margin-bottom: 120px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.section4 .section4-wrapper{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* width: 100%; */
}
.section4 .section4-wrapper .child{
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    padding: 107px;
}
.section4 .section4-wrapper .child1 {
    position: relative;
    background-image: url(../images/first-product.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.section4 .section4-wrapper .child1 .shop-now{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px 48px;
    background: #FFFFFF;
    border-radius: 2px;
}
.section4 .section4-wrapper .child2{
    background-image: url(../images/second-product.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.section4 .section4-wrapper .child3{
    background-image: url(../images/third-product.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.section4 .section4-wrapper .child4{
    background-image: url(../images/fourth-product.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*  -------------------  SECTION 5 STYLES START: ------------------- */
.section5{
    margin-bottom: 120px;
    display: grid;
    justify-items: center;
}
.section5 .section5-wrapper{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 48px;
}
.section5 .section5-wrapper .section5-grid{
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.scroll-wrapper{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.section5 .section5-wrapper .section5-grid .section5-child .main-img{
    width: 100%;
    height: auto;
}
.section5 .section5-wrapper .section5-grid button{
    cursor: pointer;
}
.section5 .section5-wrapper .section5-grid .child1,
.section5 .section5-wrapper .section5-grid .child2,
.section5 .section5-wrapper .section5-grid .child3,
.section5 .section5-wrapper .section5-grid .child4{
    position: relative;
}
.section5 .section5-wrapper .section5-grid .child1 .heart-img,
.section5 .section5-wrapper .section5-grid .child2 .heart-img,
.section5 .section5-wrapper .section5-grid .child3 .heart-img,
.section5 .section5-wrapper .section5-grid .child4 .heart-img{
    position: absolute;
    top: 15px;
    right: 15px;
}
.section5 .section5-wrapper .section5-grid .child1 .add-to-cart{
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF; 
    padding: 16px 48px;
    background: #282B2D;
    border-radius: 2px;
    position: absolute;
    bottom: 25%;
    left: 20%;
}
.section5 .section5-wrapper .section5-grid .child1 .description{
    display: grid;
    grid-auto-flow: row;
    align-items: flex-start;
    gap: 8px;
}
.section5 .section5-wrapper .section5-grid .child1 .description .stars{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: flex-start;
    gap: 5px;
}
/*  -------------------  SECTION 7 STYLES START: ------------------- */
.section7{
    margin-bottom: 120px;
}
.section7 .section7-wrapper{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
}
.section7 .section7-wrapper .left-grid{
    background-image: url(../images/section7-firstbg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
    width: 40vw;
    padding: 194px;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.section7 .section7-wrapper .right-grid{
    background-image: url(../images/section7-bgimg-second.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
    width: 40vw;
    padding: 194px;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 16px;
}
.section7 .section7-wrapper .left-grid .circle{
    background: #282B2D;
    position: absolute;
    top: 33px;
    left: 28px;
    width: 150px;
    height: 150px;
    padding: 50px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 50%;
}
.section7 .section7-wrapper .right-grid span{
    padding: 12px 32px;
    background: #F24A72;
    border-radius: 2px;
}
/*  -------------------  SECTION 8 STYLES START: ------------------- */
.section8{
    margin-top: 180px;
    border: 1px solid rgba(147, 149, 150, 0.7);
    border-radius: 4px;
    min-height: 450px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.section8 .section8-wrapper{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
}
.section8 .section8-wrapper .heading-div{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;
}
.section8 .section8-wrapper form{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}
.section8 .section8-wrapper form input{
    border: 1px solid rgba(40, 43, 45, 0.7);
    border-radius: 2px;
    padding: 26px 150px;
}
.section8 .section8-wrapper form button{
    padding: 25px 68px;
    background: #282B2D;
    border: 1px solid rgba(40, 43, 45, 0.7);
    border-radius: 2px;
}
