/*  ------------------------------- SECTION 2: RESPONSIVE ------------------------------- */
@media(max-width: 1185px){
    .section2 .section2-wrapper .left h2{
        width: 402px;
        font-size: 36px;
    }
    .section2 .section2-wrapper .left p{
        width: 416px;
        font-size: 14px;
    }
    .section2 .section2-wrapper .right{
        height: 30vh;
        width: 40vw;
    }
}
@media(max-width: 834px){
    .section2 .section2-wrapper{
        grid-auto-flow: row;
        align-items: center;
        justify-items: center;  
    }
    .section2 .section2-wrapper > left{
        grid-column: 1;
    }
    .section2 .section2-wrapper > right{
        grid-column: 2;
    }
    .section2 .section2-wrapper .left{
        justify-items: center;
        width: 100%;
    }
    .section2 .section2-wrapper .left h2{
        width: 300px;
        font-size: 24px;
        text-align: center;
    }
    .section2 .section2-wrapper .left p{
        width: 300px;
        font-size: 14px;
        text-align: center;
    }
    .section2 .section2-wrapper .right{
        width: 100%;
    }
    .section2 .section2-wrapper .left .buttons-flex{
        gap: 8px;
    }
    .section2 .section2-wrapper .left .buttons-flex .whiteBtn{
        padding: 12px 32px;
    }
}



/*  ------------------------------- SECTION 4: RESPONSIVE ------------------------------- */
@media(max-width: 1339px){
    .section4 .section4-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .section4 .section4-wrapper .child{
        padding: 80px;
    }
    .section4 .section4-wrapper .child1 .shop-now{
        display: none;
    }
}
@media(max-width: 630px){
    .section4 .section4-wrapper .child{
        /* padding: 64px; */
        height: 20vh;
        width: 40vw;
    }
    .section4 .section4-wrapper .child h3{
        font-size: 20px;
    }
}
@media(max-width: 470px){
    .section4 .section4-wrapper{
        margin-right: 15%;
    } 
}
@media(max-width: 365px){
    .section4 .section4-wrapper .child{
        padding: 68px;
        height: 10vh;
        width: 20vw;
    }
}
/*  ------------------------------- SECTION 5: RESPONSIVE ------------------------------- */
@media(max-width: 1440px){
    .section5 .section5-wrapper .section5-grid .section5-child .description h5{
        font-size: 20px;
    }
}
@media(max-width:1339px){
    /* .section5 .section5-wrapper .section5-grid .child4, */
    .section5 .section5-wrapper .section5-grid .child2 .absolute-p,
    .section5 .section5-wrapper .section5-grid .child1 .add-to-cart{
        display: none;
    }
}
@media(max-width: 1120px){
    .section5 .section5-wrapper .section5-grid .next-prev{
        display: none;
    }
}
@media(max-width: 834px){
    .section5 .section5-wrapper .section5-grid .section5-child .description p{
        font-size: 18px;
    }
    .section5 .section5-wrapper .section5-grid .section5-child .description .price-p{
        font-size: 18px;
    }
    .section5 .section5-wrapper h2{
        font-size: 32px;
        text-align: left;
    }
}
@media(max-width: 625px){
    .section5 .section5-wrapper .section5-grid .section5-child .description p,
    .section5 .section5-wrapper .section5-grid .section5-child .description .price-p{
        font-size: 14px;
    }
    .section5 .section5-wrapper .section5-grid .section5-child .description .stars img{
        height: 10px;
    }
    .section5 .section5-wrapper .section5-grid .section5-child .heart-img{
        top: 0;
        right: -5px;
        height: 15px;
    }
}