/*  ------------------------------- SECTION 2: RESPONSIVE ------------------------------- */
@media(max-width: 1185px){
    .section2 .section2-wrapper .left h2{
        width: 402px;
        font-size: 36px;
    }
    .section2 .section2-wrapper .left p{
        width: 416px;
        font-size: 14px;
    }
    .section2 .section2-wrapper .right{
        height: 30vh;
        width: 40vw;
    }
}
@media(max-width: 834px){
    .section2 .section2-wrapper{
        grid-auto-flow: row;
        align-items: center;
        justify-items: center;  
    }
    .section2 .section2-wrapper > left{
        grid-column: 1;
    }
    .section2 .section2-wrapper > right{
        grid-column: 2;
    }
    .section2 .section2-wrapper .left{
        justify-items: center;
        width: 100%;
    }
    .section2 .section2-wrapper .left h2{
        width: 300px;
        font-size: 24px;
        text-align: center;
    }
    .section2 .section2-wrapper .left p{
        width: 300px;
        font-size: 14px;
        text-align: center;
    }
    .section2 .section2-wrapper .right{
        width: 100%;
    }
    .section2 .section2-wrapper .left .buttons-flex{
        gap: 8px;
    }
    .section2 .section2-wrapper .left .buttons-flex .whiteBtn{
        padding: 12px 32px;
    }
}

/*  ------------------------------- SECTION 3: RESPONSIVE ------------------------------- */
@media(max-width: 750px){
    .section3 .section3-wrapper .top-grid img,
    .section3 .section3-wrapper .bottom-grid img{
        height: auto;
        width: 100%;
    }
    .section3 .section3-wrapper .top-grid .item4{
        max-width: 55px;
    }
}

/*  ------------------------------- SECTION 4: RESPONSIVE ------------------------------- */
@media(max-width: 1339px){
    .section4 .section4-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .section4 .section4-wrapper .child{
        padding: 80px;
    }
    .section4 .section4-wrapper .child1 .shop-now{
        display: none;
    }
}
@media(max-width: 630px){
    .section4 .section4-wrapper .child{
        /* padding: 64px; */
        height: 20vh;
        width: 40vw;
    }
    .section4 .section4-wrapper .child h3{
        font-size: 20px;
    }
}
@media(max-width: 470px){
    .section4 .section4-wrapper{
        margin-right: 15%;
    } 
}
@media(max-width: 365px){
    .section4 .section4-wrapper .child{
        padding: 68px;
        height: 10vh;
        width: 20vw;
    }
}
/*  ------------------------------- SECTION 5: RESPONSIVE ------------------------------- */
@media(max-width: 1440px){
    .section5 .section5-wrapper .section5-grid .section5-child .description h5{
        font-size: 20px;
    }
}
@media(max-width:1339px){
    /* .section5 .section5-wrapper .section5-grid .child4, */
    .section5 .section5-wrapper .section5-grid .child2 .absolute-p,
    .section5 .section5-wrapper .section5-grid .child1 .add-to-cart{
        display: none;
    }
}
@media(max-width: 1120px){
    .section5 .section5-wrapper .section5-grid .next-prev{
        display: none;
    }
    .section5 .section5-wrapper .section5-grid .section5-child .description p{
        width: 249px;
    }
}
@media(max-width: 834px){
    .section5 .section5-wrapper .section5-grid .section5-child .description p{
        font-size: 18px;
    }
    .section5 .section5-wrapper .section5-grid .section5-child .description .price-p{
        font-size: 18px;
    }
    .section5 .section5-wrapper h2{
        font-size: 32px;
        text-align: left;
    }
}
@media(max-width: 625px){
    .section5 .section5-wrapper .section5-grid .section5-child .description .stars img{
        height: 10px;
    }
    .section5 .section5-wrapper .section5-grid .section5-child .heart-img{
        top: 0;
        right: -5px;
        height: 15px;
    }
}
/*  ------------------------------- SECTION 7: RESPONSIVE ------------------------------- */
@media(max-width: 1400px){
    .section7 .section7-wrapper .left-grid h2,
    .section7 .section7-wrapper .right-grid h2{
    font-size: 36px;
    }
    .section7 .section7-wrapper .left-grid p,
    .section7 .section7-wrapper .right-grid p{
        font-size: 20px;
    }
    .section7 .section7-wrapper .left-grid .circle{
        top: 0;
        left: 0;
    }
    .section7 .section7-wrapper .right-grid span{
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media(max-width:815px){
    .section7 .section7-wrapper{
        grid-auto-flow: row;
        justify-items: center;
        /* margin: 0 16px; */
    }
    .section7 .section7-wrapper .left-grid,
    .section7 .section7-wrapper .right-grid{
        width: 100%;
        height: auto;
    }
}
@media(max-width: 707px){
    .section7 .section7-wrapper {
        gap: 8px;
    }
    .section7 .section7-wrapper .left-grid,
    .section7 .section7-wrapper .right-grid{
        width: 50vw;
        height: auto;
        padding: 150px;
    }
    .section7 .section7-wrapper .left-grid .circle{
        height: 120px;
        width: 120px;
        font-size: 12px;
    }
}
@media(max-width: 400px){
    .section7 .section7-wrapper .left-grid,
    .section7 .section7-wrapper .right-grid{
        width: 50vw;
        height: 10vh;
        padding: 160px;
    }
    .section7 .section7-wrapper .left-grid .circle{
        height: 100px;
        width: 100px;
    }
    .section7 .section7-wrapper .left-grid h2,
    .section7 .section7-wrapper .right-grid h2{
    font-size: 28px;
    }
}
@media(max-width: 320px){
    .section7 .section7-wrapper .left-grid,
    .section7 .section7-wrapper .right-grid{
        width: 50vw;
        height: 10vh;
        padding: 150px;
    }
}
/*  ------------------------------- SECTION 8: RESPONSIVE ------------------------------- */
@media(max-width: 650px){
    .section8{
        border: none;
    }
    .section8 .section8-wrapper form{
        grid-auto-flow: row;
        gap: 8px;
    }
    .section8 .section8-wrapper form input,
    .section8 .section8-wrapper form button{
        width: 100%;
    }
    .section8 .section8-wrapper form input::placeholder{
        display: none;
    }
    .section8 .section8-wrapper{
        justify-items: start;
    }
    .section8 .section8-wrapper .heading-div{
        justify-items: start;
        align-items: flex-start;
        justify-content: start;
    }
    .section8 .section8-wrapper .heading-div h3{
        width: 350px;
        text-align: left;
        
    }
    .section8 .section8-wrapper .heading-div h4{
        width: 343px;
        text-align: left;
    }
}
@media(max-width: 360px){
    .section8 .section8-wrapper .heading-div h3{
        width: 277px;
        font-size: 19px;
    }
    .section8 .section8-wrapper .heading-div h4{
        width: 288px;
        font-size: 12px;
    }
}
/*  ------------------------------- FOOTER : RESPONSIVE ------------------------------- */

@media(max-width: 1076px){
    .footer-wrapper{
       grid-auto-flow: row;
       grid-template-columns: 1fr 1fr;
       gap: 40px;
       padding-left: 150px;
    }
}
@media(max-width: 820px){
    .footer-wrapper{
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        gap: 40px;
        padding-left: 150px;
    }
}
@media(max-width: 600px){
    .footer-wrapper{
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        gap: 40px;
     }
    .footer-wrapper{
        margin-left: -79px;
    }
}